
body{
	background-color: #1d353f;
}

.searchFunction{
	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
	/*width: 50%;*/
}
img {
	vertical-align: middle;
	text-align: center;
}
form {
	width: 1000px;
	display: flex;
}
form input[type="text"] {
	flex: 1;
}
